* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: "poppinsregular";
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

/* Poppins font import*/
@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppinssemibold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppinsextralight";
  src: url("/Exclusive/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "poppinslight";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Inter font import */
@font-face {
  font-family: "intersemibold";
  src: url("../fonts/Inter_18pt-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "intermedium";
  src: url("../fonts/Inter_18pt-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interbold";
  src: url("../fonts/Inter_24pt-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interextrabold";
  src: url("../fonts/Inter_18pt-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Homepage styling */
#home {
  display: flex;
  flex-direction: column;
}

/* Main style starts */
#home #main {
  display: flex;
  flex-direction: column;
}
#home #main #topheader {
  background: #000;
  justify-content: end;
  display: flex;
  padding: 12px 0px;
}
#home #main #topheader .top_cont {
  margin-right: 10%;
  display: flex;
  align-items: center;
  width: 59%;
  justify-content: space-between;
}
#home #main #topheader .top_cont .left {
  display: flex;
  align-items: center;
  gap: 12px;
}
#home #main #topheader .top_cont .left p {
  color: #fafafa;
  font-family: "poppinslight";
  font-size: 14px;
}
#home #main #topheader .top_cont .left a {
  color: #fafafa;
  font-size: 14px;
  font-family: "poppinsmedium";
  text-decoration: underline;
}
#home #main #topheader .top_cont .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#home #main #topheader .top_cont .right p {
  color: #fafafa;
  font-family: "poppinslight";
  font-size: 14px;
}
#home #main #topheader .top_cont .right i {
  color: #fafafa;
  font-weight: lighter;
  font-size: 20px;
}

/* Header style start */
#home #main header {
  border-bottom: 2px solid #ccc;
}
#home #main header .header_cont {
  padding-top: 46px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home #main header .header_cont .logo_container {
  margin: 10px;
}
#home #main header .header_cont .logo_container h1 {
  color: #000000;
  font-family: "interextrabold";
  font-size: 24px;
  font-weight: bolder;
}
#home #main header .header_cont nav {
}
#home #main header .header_cont nav ul {
  display: flex;
  gap: 55px;
}
#home #main header .header_cont nav ul li {
}
#home #main header .header_cont nav ul li a {
  color: #000000;
  font-size: 16px;
  font-family: "poppinsmedium";
}
#home #main header .header_cont nav ul li a:hover {
  border-bottom: 3px solid #ccc;
  padding-bottom: 2px;
}
#home #main header .header_cont .search_container {
  display: flex;
  gap: 20px;
}
#home #main header .header_cont .search_container .input_container {
  display: flex;
  background: #f5f5f5;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
}
#home #main header .header_cont .search_container .input_container input {
  color: #000000;
  background: #f5f5f5;
  border: none;
  outline: none;
  font-size: 12px;
  width: 166px;
}
#home #main header .header_cont .search_container .input_container .icon_cont {
  width: 16px;
  height: 16px;
}
#home
  #main
  header
  .header_cont
  .search_container
  .input_container
  .icon_cont
  img {
  width: 100%;
  height: 100%;
}
#home #main header .header_cont .search_container .icon_cont {
  width: 32px;
  height: 32px;
}
#home #main header .header_cont .search_container .icon_cont img {
  width: 100%;
  height: 100%;
}
/* Header style ends */

/* Spotlight style starts */
#home #main #spotlight {
  display: flex;
  padding-top: 35px;
}

#home #main #spotlight .spotlight_cont {
  display: flex;
  align-items: center;
  background: #000;
  border-radius: 10px;
  justify-content: space-between;
  padding-bottom: 15px;
}
#home #main #spotlight .spotlight_cont .left {
  display: flex;
  flex-direction: column;
  padding-left: 63px;
  gap: 25px;
}
#home #main #spotlight .spotlight_cont .left .apple {
  display: flex;
  align-items: center;
  gap: 25px;
}
#home #main #spotlight .spotlight_cont .left .apple .img_cont {
  width: 40px;
  height: 49px;
}
#home #main #spotlight .spotlight_cont .left .apple .img_cont img {
  width: 100%;
  height: 100%;
}
#home #main #spotlight .spotlight_cont .left .apple p {
  color: #fafafa;
}
#home #main #spotlight .spotlight_cont .left h2 {
  color: #fafafa;
  font-size: xxx-large;
  line-height: 66px;
  letter-spacing: 2px;
}
#home #main #spotlight .spotlight_cont .left button {
  background: none;
  display: flex;
  gap: 14px;
  width: fit-content;
  cursor: pointer;
}
#home #main #spotlight .spotlight_cont .left button p {
  color: #fafafa;
  font-size: 16px;
  border-bottom: 1px solid white;
  width: fit-content;
  padding-bottom: 7px;
}

#home #main #spotlight .spotlight_cont .left button .icon_cont {
}
#home #main #spotlight .spotlight_cont .left button .icon_cont img {
  width: 100%;
  height: 100%;
}
#home #main #spotlight .right {
  width: 50%;
}
#home #main #spotlight .right .img_cont {
  width: 99%;
  height: 453px;
}
#home #main #spotlight .right .img_cont img {
  width: 100%;
  height: 100%;
}
/* Spotlight style ends */
/* Main style ends */

/* Category style starts */
#home #category {
  margin-block: 55px;
}
#home #category .wrapper .category_cont {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
#home #category .wrapper .category_cont .top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#home #category .wrapper .category_cont .top .head {
  display: flex;
  align-items: center;
  gap: 15px;
}
#home #category .wrapper .category_cont .top .head .box {
  width: 20px;
  height: 40px;
  background-color: #db4444;
  border-radius: 4px;
}
#home #category .wrapper .category_cont .top .head h6 {
  font-size: 16px;
  color: #db4444;
}
#home #category .wrapper .category_cont .top h2 {
  font-family: "intermedium";
  font-size: 36px;
  letter-spacing: 2px;
}
#home #category .wrapper .category_cont .bottom {
}
#home #category .wrapper .category_cont .bottom ul {
  display: flex;
  justify-content: space-between;
}
#home #category .wrapper .category_cont .bottom ul li {
  border: 1px solid #ccc;
  padding: 30px 20px;
  width: 11%;
  border-radius: 4px;
}
#home #category .wrapper .category_cont .bottom ul li .categ {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
#home #category .wrapper .category_cont .bottom ul li .categ .img_cont {
  width: 56px;
  height: 56px;
}
#home #category .wrapper .category_cont .bottom ul li .categ .img_cont img {
  width: 100%;
  height: 100%;
}
#home #category .wrapper .category_cont .bottom ul li p {
  font-family: "poppinsmedium";
  font-size: 16px;
}
/* Category style ends */

/* Product style starts */
#home #product {
}
#home #product .wrapper {
}
#home #product .wrapper .product_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home #product .wrapper .product_cont .top {
}
#home #product .wrapper .product_cont .top ul {
  display: grid;
}
#home #product .wrapper .product_cont .top ul li {
}
#home #product .wrapper .product_cont .top ul li .card {
}
#home #product .wrapper .product_cont .top ul li .card .card_top {
}
#home #product .wrapper .product_cont .top ul li .card .card_top .img_cont {
  width: 190px;
  height: 180px;
}
#home #product .wrapper .product_cont .top ul li .card .card_top .img_cont img {
  width: 100%;
  height: 100%;
}
#home #product .wrapper .product_cont .top ul li .card .card_bottom {
}
#home #product .wrapper .product_cont .top ul li .card .card_bottom h6 {
}
#home #product .wrapper .product_cont .top ul li .card .card_bottom .pricing {
  display: flex;
}
#home #product .wrapper .product_cont .top ul li .card .card_bottom .pricing p {
  font-size: 16px;
  color: #db4444;
  font-family: "poppinsmedium";
}
#home
  #product
  .wrapper
  .product_cont
  .top
  ul
  li
  .card
  .card_bottom
  .pricing
  .stars {
}
#home
  #product
  .wrapper
  .product_cont
  .top
  ul
  li
  .card
  .card_bottom
  .pricing
  .stars
  img {
}
#home
  #product
  .wrapper
  .product_cont
  .top
  ul
  li
  .card
  .card_bottom
  .pricing
  span {
  font-family: "poppinssemibold";
  font-size: 14px;
  color: #ccc;
}
#home #product .wrapper .product_cont .bottom {
}
#home #product .wrapper .product_cont .bottom button {
  font-size: 16px;
  color: #fafafa;
  background-color: #db4444;
  border-radius: 4px;
  padding: 20px;
  padding-inline: 53px;
  text-align: center;
}
/* Product styles ends */
